body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding:0;
    display: block;
    height: 100%;
    background-color: rgb(245, 245, 245);
}

a {
    padding: 10px;
}

input{
    border: none;
    padding: 5px;
    width: 300px;

}

.container{
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
}

/*Side Navigator*/
.side_nav{
    height: 100%;
    width: 20%;
    padding-top: 30px;
    padding-right: 10px;
    text-align: center;
    top: 0;
    left: 0;
    float: left;
    position: fixed;
}

.profile_card{
    text-align: center;
    background-color: rgb(241, 223, 202);
}
.profile_img
{
    border-radius: 15px;
    width: 100px;
    padding: 40px;
}

.nav_links{
    padding: 60px 60px;
    text-align: left;
}

.nav_links a{
    padding: 20px;
    display: block;
}

.logo_container{
    bottom: 50px;
    padding-left: 60px;
    position: absolute;
    align-items: center;
}

.side_logo{
    width: 200px;
}

/*Main Page*/
.main_page{
    height: 100%;
    width: 75%;
    float: right;
    top: 0;
    right:0;
}

.top_nav{
    width:100%;
    display: inline-block;
}

.top_nav .logo{
    width: 30%;
}

.nav_tabs{
    width: 70%;
    text-align: right;
}

.search_bar{
    width: 150px;
    border: 3px black;
    border-radius: 15px;
    background-color: white;
    padding: 10px; 
}

.column{
    padding-left: 50px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.yellow{
    color: gold;
}

.main_container .top_nav{
    width: 100%;
    display: block;
    position: relative;
}
.reading_info{
    background-color: rgba(138, 94, 94, 0.993);
}

.purchased_info{
    background-color: rgb(45, 79, 107);
}

.category{
    background-color: rgba(189, 193, 194, 0.993);
    align-self: center;
    width: fit-content;
    border-radius: 10px;
    padding: 5px;
}

.authors_card{
    background-color: rgba(218, 216, 216, 0.993);
    width: 300px;
    padding: 25px;
}

.authors_card ul{
    list-style-type: none;
    margin: 5px;
}
.authors_card ul li{
    display: inline-flex;
}

.author_pic{
    border-radius: 50%;
    height: 80px
}

.authors_card, .profile_card, .book, .purchased_info, .reading_info
{
    border-radius: 20px;
}

.book{
    width: 160px;
    height: 230px;
    z-index: 9;
    position: relative;
}

.book_left{
    left: 50px;
}

.reading_info,.purchased_info{
    width: 450px;
    height: 180px;
    color: white;
    position: relative;
    top: -150px;
    text-align: left;
}

.book_info{
    padding-left: 230px;
    padding-top: 20px;
}

.book_info i{
    font-size: 5px;
    text-align: center;
}

.read_card, .new_card{
    float:left;
    padding: 10px;
}

.read_card{
    width: 460px;
    height: 270px;
}

.new_card{
    width: 200px;
    height: 380px;
    text-align: left;
    padding: 20px;
}

.info{
    bottom:0;
    width: 160px;
    height: 60px;
}

.info h3{
    text-overflow: ellipsis;
    height: 35px;
}

.info small{
    bottom: 0;
    height: 25px;
}

.row {
    display:flex;
    width: fit-content;
    overflow-x: hidden;
    width: 100%;
    flex-direction: row;
    scroll-behavior: smooth;
}

.row::after{
    display: inline-flex;
    clear:both;
}

/*Forms styling*/

.form_container{
    align-self: center;
    width: 40%;
    float: left;
    border: 5px gold;
    padding: 20px;
}

.form_container button , .form_container input{
    border-radius: 15px;
    border: 3px solid gold;
    padding: 10px;
}

button{
    width : fit-content;
    padding: 10px;
}

label{
    display:block;
    width: 100%;
    padding: 10px;
}
