@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    --yellow : #ff9900;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding:0;
    display: block;
    height: 100%;
    background-color: rgb(245, 245, 245);
}

h1{
    font-weight: 800;
    font-size: 35px;
}

a {
    padding: 10px;
}

input{
    border: none;
    padding: 5px;
    width: 300px;
}

.container{
    display: block;
}

/*Side Navigator*/
.side_nav{
    height: 100%;
    min-width: 20%;
    padding-top: 30px;
    padding-right: 10px;
    text-align: center;
    top: 0;
    left: 0;
    float: left;
    position: fixed;
}

.profile_card{
    text-align: center;
    background-color: rgb(241, 223, 202);
    background-image: linear-gradient(to bottom right,rgb(228, 226, 226), rgb(241, 223, 202));
    padding: 25px 25px;
}
.profile_img
{
    border-radius: 20px;
    width: 200px;
    height: 200px;
}

.nav_links{
    padding: 10px 60px;
    text-align: left;
    width: 90%;
}

.nav_links a{
    padding: 15px;
    display: block;
}

.logo_container{
    bottom: 50px;
    position: absolute;
    align-items: center;
    width: 100%;
}

.side_logo{
    width: 200px;
}
.close{
    display: none;
}

/*Main Page*/
.main_page{
    width:75%;
    height: 100%;
    float: right;
    top: 0;
    right:0;
    padding-left: 35px;
}

.top_nav{
    width:100%;
    display: inline-flex;
    position: fixed;
    z-index:3;
    background-color: rgb(245, 245, 245);
    padding : 0 15px;
}

.top_nav .logo{
    width: 30%;
    margin: 0 0;
}

.logo{
    padding: 0 0;
}

.top_nav .logo i{
    display: none;
}

.nav_tabs{
    width: 65%;
    text-align: right;
    padding-top: 30px;
}

.search_bar{
    width: 150px;
    border: 3px black;
    border-radius: 15px;
    background-color: white;
    padding: 10px; 
}

.links :hover, .links:focus{
    color: var(--yellow)
}

.column{
    
    min-width: 29%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.yellow{
    color: var(--yellow);
}

.main_container{
    margin-top: 100px;
    padding: 0 0 10px 15px;
}

.reading_info{
    background-color: rgba(138, 94, 94, 0.993);
    background-image: linear-gradient(to right, rgba(172, 128, 74, 0.993), rgba(123, 91, 53, 0.993));
}

.purchased_info{
    background-color: rgb(45, 79, 107);
    background-image: linear-gradient(to right, rgb(0, 16, 30), rgb(45, 79, 107));
}

.category{
    background-color: rgba(189, 193, 194, 0.993);
    align-self: center;
    width: fit-content;
    border-radius: 10px;
    padding: 5px;
}

.author_container{
    padding-top: 10px;
    /*padding-left: 30px;*/
}

.authors_card{
    background-color: rgba(218, 216, 216, 0.993);
    width: 450px;
    height: 430px;
    padding: 20px 20px;
} 

.authors_card .row{
    padding: 20px 15px;

}

.authors_card .row small{
    padding-left: 25px;
}

.author_pic{
    border-radius: 50%;
    height: 80px
}

.authors_card, .profile_card, .book, .purchased_info, .reading_info
{
    border-radius: 20px;
}

.book{
    width: 160px;
    height: 230px;
    z-index: 1;
    position: relative;
}

.book_left{
    left: 40px;
}

.reading_info,.purchased_info{
    width: 450px;
    height: 180px;
    color: white;
    position: relative;
    top: -150px;
    text-align: left;
}

.book_info{
    padding-left: 230px;
    padding-top: 20px;
}

.book_info i{
    font-size: 5px;
    text-align: center;
}

.read_card, .new_card{
    float:left;
    padding: 10px;
}

.read_card{
    width: 460px;
    height: 270px;
}

.new_card{
    width: 200px;
    height: 380px;
    text-align: left;
    padding: 20px;
}

.info{
    bottom:0;
    width: 160px;
    height: 60px;
}

.info h3, .book_info h3{
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    height: 50px;
}

.info small{
    bottom: 0;
    height: 25px;
}

.btn_left, .btn_right{
    border: none;
    background: none;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, transparent, gainsboro);
    width: 50px;
    height: 50px;
}

.scroll_btn, .p_scroll_btn{
    position: relative;
    z-index:2;
    top: -50%;
    width: inherit;
    justify-content: space-between;
}

.p_scroll_btn{
    bottom: 180px;
}

.btn_left{
    top: 50%;
    left: 0;
}

.btn_right{
    top: 50%;
    right: 0;
}

.panel, .row {
    display:flex;
    width: fit-content;
    overflow-x: scroll;
    width: 100%;
    flex-direction: row;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /*Firefox*/
}

.panel::-webkit-scrollbar,.row::-webkit-scrollbar {
    display: none;
}

.panel, .row::after{
    display: inline-flex;
    clear:both;
}

/*Forms styling*/
.center{
    text-align: center;
    align-items: center;
}
.forms{
    text-align: center;
    align-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    background-color: white;
}

.form_container button , .form_container input{
    border-radius: 15px;
    padding: 10px;
}

.form_container a{
    color: var(--yellow);
}

button{
    width : fit-content;
    padding: 10px;
    color: var(--yellow);
    border: 2px solid var(--yellow);
    background-color: white;
    margin-top: 10px;
    
}

button:hover {
    color: white;
    background-color: var(--yellow);
}

label{
    display:block;
    width: 100%;
    padding: 10px;
}

.form_container input{
    border: 2px solid rgb(245, 245, 245);
}

.form_container small{
    color: gray;
}

.flip-card {
    align-self: center ;
    text-align: center;
    padding: 20px;
    perspective: 1000px;
    margin-left: 25%;
    margin-top: 2%;
    min-height: 850px;
    width: 50%;
    background-color: white;
    display: block;
    border-radius: 15px;
}
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-back {
    transform: rotateY(180deg);
  }

.error_message{
    background-color: rgb(244, 93, 93);
    color: white;
}

.success_message{
    background-color: rgb(144, 233, 144);
    color:white;
}

/********************************************************************************************************************************************/
/* RESPONSIVE*/
/*media queries*/

@media (min-width: 1280px){
    .nav_content{
        display: block;
        position: fixed;
        right: 10px;
    }
}

@media (max-width: 1400px){
    
    .nav_links{
        padding : 5px 40px;
    }

    .nav_links a{
        padding: 2px 2px;
    }

    .logo_container{
        bottom: 10px;
    }

    .profile_img{
        width: 80px;
        height: 90px;
    }
}

@media (max-width: 1280px) {
    .nav_links,.nav_links a{
        padding: 5px 15px;
    }

    .column{
        min-width: 30%;
    }
    .nav_content{
        display: block;
        position: fixed;
        right: 10px;
    }

}

@media  (max-width:1024px) {
   .nav_tabs .toggle_btn, .links span{
       display: block;
   }

    .nav_content, .icon{
        display: none;
    }

    .nav_content{
        flex-direction: column;
        position: fixed;
        background-color: gainsboro;
        right: -10px;
        text-align: center;
        padding: 10px 10px;
        z-index: 2;
        width: 180px;
    }
    
    .links{
        min-width: 180px;
    }

    .side_nav{
        height: 1000px;
        overflow: scroll;

    }
    .nav_links a{
        padding: 10px 10px;
    }

    input{
        width: 70%;
    }
    
}
@media (max-width: 1023px) {
    .logo h1, .nav_content, .icon{
        display: none;
    }

    .logo i, .toggle_btn, .search_bar, .nav_content span, .panel:after{
        display: block;
    }

    .panel, .row, .side_nav, .main_page, .flip-card{
        width: 100%;
    }

    .panel {
        flex-direction: column;
    }

    .side_nav{
        z-index: 4; 
        background-color: rgb(245, 245, 245);
        display: none;
    }

    .nav_links{
        left: 40%;
    }

    .close{
        display: block;
    }

    .flip-card{
        margin: 0 0;
    }
    .nav_links a{
        padding: 5px 5px;
    }

    input{
        width: 80%;
    }
    .main_container{
        margin-top: 80px;
    }

    .scroll_btn{
        top: 100%;
    }
}

@media (max-width: 412px) {

    .main_container{
        width: 100%
    }
    
    .row{
        overflow: scroll;
        padding: 0;
    }

    .scroll_btn, .p_scroll_btn{
        display:none;
    }
}
